@import "base";

.container {
  // page acts as a container for our grid.
  @include container;
  @include trailer;
  background: #a1b6d2; //#c3d0e2;
  @include padding-leader;
  border-radius: 0 0 2px 2px;
}

.banner {
  background: #051f3e;
  @include padding-leader(.5);
  @include padding-trailer(.5);
  &> div {
    @include container;
  }
  .title {
    color: white;
    float: left;
  }
  .search {
    float: right;
  }
}

nav.primary, .fancy {
  @include padding-trailer;
  @include padding-leader;
  position: fixed;
  top: 3em;
  bottom: 0;
  width: 223px;
  color: #333;
  background: rgba(255, 255, 255, 0.3);
  
  @include transition-property("all");
  @include transition-duration(".3s");
  &:hover {
    ul a {
      background: rgba(255, 255, 255, 0.9);
    }
  }

  ul {
    @include trailer;
    list-style: none;

    a {
      background: rgba(255, 255, 255, 0.4);
      color: #444;
      // @include bshadow;
      height: rhythm() - rhythm(.05);
      @include sans-family;
      @include trailer(.05);
      @include padding-leader(.5);
      @include padding-trailer(.5);
      @include transition-property("all");
      @include transition-duration(".3s");
      padding-left: .5em;
      padding-right: .5em;
      display: block;
      text-align: right;

      &:hover {
        text-decoration:none;
        background: rgba(255, 255, 255, 1);
      }

      &:visited {
        color: #444;
      }
    }
  }
}

.fancy {
  table label {
    text-align: left;
  }
}

nav.secondary {
  @include leader;
  ul {
    list-style: none;
  }
  
  a {
    background: rgba(255, 255, 255, 0.6);
    color: #444;
    // @include bshadow;
    height: rhythm() - rhythm(.05);
    @include border-radius(2px);
    @include sans-family;
    @include trailer(.05);
    @include padding-leader(.5);
    @include padding-trailer(.5);
    @include transition-property("all");
    @include transition-duration(".3s");
    padding-left: .5em;
    padding-right: .5em;
    display: block;
    text-align: left;

    &:hover, &.active {
      text-decoration: none;
      background: rgba(255, 255, 255, .9);
    }

    &:visited {
      color: #444;
    }
  }

  .about {
    @include leader(2.5);
  }
}

.secondary {
  @include leader;
  @include trailer;
}

#main {
  @include span-columns(6, 12);
  @include push(3);
}

#more {
  @include span-columns(3 omega, 12);
  @include padding-trailer;
}

.vertical-fields {
  .field {
    @include trailer;
  }
}

.topic-nav {
  @include trailer;
}