#topics h3.title {
  margin-top: 0;
  @include sans-family;
  @include box-sizing(border-box);
  color: #333;
}

#topic h2 {
  color: #444;
  border-bottom: 1px solid #666;
  @include box-sizing(border-box);
  @include adjust-font-size-to(27px, 1);
  @include padding-trailer(.5, 27px);
  @include trailer(.5, 27px);
  @include leader(0);
}

#new-topic {
  @include chunk;
  @include padding-trailer;
  width: 59em;
  margin-left: -15em;
  border-radius: 2px 2px 0 0;
  border-bottom: rhythm(.5) solid $medium-green;
  border-top: rhythm(.5) solid $medium-green;
  textarea {
    height: 6 * $base-line-height;
  }
  h3 {
    margin-top: 0;
  }

  margin-bottom: 0;
  position: fixed;
  bottom: 0;
}